<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|pdf|ttf|woff)$">
  Header set Cache-Control "max-age=2592000"
</FilesMatch>
<ifModule mod_deflate.c>
  <filesMatch ".(css|js|html|php)$">
    SetOutputFilter DEFLATE
  </filesMatch>
</ifModule>